.swiper-parallax--style-1{
  .swiper-button-prev {
    background-image: url(/images/swiper-navigation/left.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .swiper-button-next {
    background-image: url(/images/swiper-navigation/right.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev::after {
    display: none;
  }
}